EXPO_PUBLIC_API_URL=https://api.caresignal.app/v1
EXPO_PUBLIC_APP_ENV=development

# Firebase — get these from Firebase Console > Project Settings > Your Apps
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

# RevenueCat — get public SDK keys from RevenueCat Dashboard > Project Settings > API Keys
EXPO_PUBLIC_REVENUECAT_APPLE_KEY=appl_XmHTELJKiVYzWDNlpCwcoNkClcO
EXPO_PUBLIC_REVENUECAT_GOOGLE_KEY=goog_AUkGIsamFUxDYbtRnPzRvdBgWpO

